<nav class="breadcrumbs" aria-label="Хлебные крошки">
  <a href="/">Главная</a>
  <% crumbs.forEach((c, idx) => { %>
    <span aria-hidden="true">/</span>
    <% if (idx === crumbs.length - 1) { %>
      <span class="breadcrumbs__current"><%= c.title %></span>
    <% } else { %>
      <a href="<%= c.href %>"><%= c.title %></a>
    <% } %>
  <% }) %>
</nav>
