<div class="container">
  <%- include('../partials/breadcrumbs', { crumbs: [{ title: 'Галерея', href: '/gallery' }] }) %>

  <section class="pagehead">
    <h1 class="h1">Галерея объектов</h1>
    <p class="muted">Фото объектов по названиям проектов. Нажмите на карточку для просмотра всех фото.</p>
  </section>

  <section class="section section--tight">
    <div class="gallerygrid">
      <% items.forEach(item => { %>
        <%- include('../partials/galleryCard', { item }) %>
      <% }) %>
    </div>
  </section>
</div>
